@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}



header{
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
}

.primary-button{
    background-color: #FF5400;
    color: #FFFFFF;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .35s;
}

.primary-button:hover{
    background-color: #ff0400;
}

.secondary-button{
    background-color: #FF5400;
    color: #FFFFFF;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .35s;
    
}

.secondary-button:hover{
    background-color: #ff0400;
}

.find-now-button{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .8rem 1.5rem;
    background-color: #FF5400;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .35s;
}

.find-now-button svg{
    width: 1.5rem;
    height: 1.5rem;
}

.find-now-button:hover{
    background-color: #ff0400;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
}

.logo img{
    width: 100%;
    height: 56.008px;
}

.logo h1{
    font-weight: 800;
    font-size: 2.25rem;
}

.highlight{
    color: #FF5400;
}

.menu .hamburger-menu{
    display: none;
}

.menu{
    display: flex;
}

.menu .menu-bar ul{
    display: flex;
    gap: 2.75rem;
    
}

.menu .menu-bar ul li{
    list-style-type: none;
}

.menu .menu-bar ul li a{
    text-decoration: none;
    color: #424247;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.125rem;
    transition: .25s;
}

.menu .menu-bar ul li a:hover{
    color: #FF5400;

}

.hero-section{
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 1rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6.625rem 0;
}

.hero-text{   
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.hero-text h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.input-section{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
    padding: 1rem 1rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.30);
    
    
}

.input-field input{
    padding: .9rem 1rem;
    width: 7.5rem;
    border-radius: .5rem;
    background: #FFF;
    border: none;
    outline: 0;
    position: relative;
    cursor: text;
    font-size: 1rem;
    
}

.dropdown-section-main{
    display: flex;
    gap: 1rem;
}

.dropdown-section{
    display: flex;
    align-items: center;
    padding: .8rem 1rem;
    background-color: #FFFFFF;
    border-radius: .5rem;
    

}

.dropdown-section a{
    text-decoration: none;
    color: rgba(19, 19, 24, 0.50);

}


.dropdown-section ul{
    list-style: none;
}

.dropdown-button{
    display: flex;
    align-items: center;
    width: 7.5rem;
    justify-content: space-between;

}

.dropdown-button svg{
    transition: .25s;
}

.dropdown-button svg:hover{
    background-color: #f2f2f2;
}

.dropdown-section ul li{
    display: inline-block;
    position: relative;
}

.dropdown-section ul li a{
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #5e5e5e;
    text-align: center;
    font-size: 1rem;
}

.dropdown-section ul{
    position: absolute;
    z-index: 999;
    display: none;
}

/* Header section ends */


/* Main Section Starts */

.container{
    width: 81.25%;
    max-width: 73.125rem;
    margin: 0 auto;

}

.popular-tours-section{
    display: flex;
    margin-top: 6.25rem;
    justify-content: space-between;
    align-items: center;
}

.popular-tour-text{
    width: 30rem;
    
}

.popular-tour-text h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.popular-tour-text p{
    margin-bottom: 1rem;
    color: rgba(19, 19, 24, 0.70);
}

.popular-tours-section .popular-tour-image img{
    object-fit: cover;
    width: 540px;
    height: 550px;
    
}
/* Popular tours section end */



/* Destication-section starts */

.destination-section{
    margin-top: 6.25rem;
    text-align: center;
}

.destination-section-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.destination-section-text h1{
    font-weight: 800;
}

.destination-section-text p{
    width: 643px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;

}

.destination-section-image{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: #FFFFFF;
    gap: 1rem;
}

.image-1{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 5.png) lightgray 50% / cover no-repeat;
    border-radius: 1rem;
    grid-column: 1/span 6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.75rem;

}

.image-2{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 6.png) lightgray 50% / cover no-repeat;
    border-radius: 1rem;
    grid-column: 7/span 6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
}

.image-3{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 7.png) lightgray 50% / cover no-repeat;
    border-radius: 1rem;
    height: 18.75rem;
    grid-column: 1/span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-4{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 8.png) lightgray 50% / cover no-repeat;
    border-radius: 1rem;
    height: 18.75rem;
    grid-column: 5/span 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-5{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 8\ \(1\).png) lightgray 50% / cover no-repeat;
    border-radius: 1rem;
    height: 18.75rem;
    grid-column: 10/span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-6{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 9.png) lightgray 50% / cover no-repeat;
    border-radius: 1rem;
    height: 18.75rem;
    grid-column: 1/span 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-7{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 10.png) lightgray 50% / cover no-repeat;
    border-radius: 1rem;
    height: 18.75rem;
    grid-column: 6/span 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* choose destination section ends here */

.choose-us-section{
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


.choose-us-text h1{
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
}

.choose-us-text .heading-para{
    width: 643px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.choose-us-section-combined-content{
    display: flex;
    justify-content: space-between;
}

.choose-us-main-content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.choose-us-section-content-1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2.5rem;
}

.choose-us-section-content-2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2.5rem;
}

.choose-us-section-content-3{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 2.5rem;
    width: 500px;
}

.choose-us-section-content-1 p{
    width: 486px;
    margin-top: 1rem;
    
}

.choose-us-section-content-2 p{
    width: 486px;
    margin-top: 1rem;
}

.choose-us-section-content-3 p{
    width: 486px;
    margin-top: 1rem;
}

/* <!-- deals and discounts section starts here --> */

.deals-discounts-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.deals-heading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.deals-heading h1{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.deals-heading p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin: 0 auto;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.first-tour{
    /* margin-top: 30px; */
    background: url(Images/Group\ 39.png);
    width: 1170px;
    height: 500px;
    border-radius: 1rem;

}

.first-tour-content{
    padding: 3.1rem;
    border-radius: 16px;
    width: 490px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    top: 58px;
    left: 520px;
}

.first-tour-time{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.first-tour-time-content{
    display: flex;
    gap: .8rem;
    align-items: center;
}

.first-tour-text{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.first-tour-text h1{
    font-size: 24px;
    color: #131318;
    font-weight: 800;

}

.first-tour-text h2{
    font-size: 20px;
    color: #FF5400;
    font-weight: 800;

}

.first-tour-text p{
    width: 452px;
    color: #5A5A5D;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}


.second-tour{
    /* margin-top: 30px; */
    background: url(Images/Turkey.jpg);
    object-fit: contain;
    border-radius: 1rem;
    width: 1170px;
    height: 500px;

}

.second-tour-content{
    padding: 3.1rem;
    border-radius: 16px;
    width: 490px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    top: 58px;
    left: 55px;
   

}

.second-tour-time{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.second-tour-time-content{
    display: flex;
    gap: .8rem;
    align-items: center;
}

.second-tour-text{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.second-tour-text h1{
    font-size: 24px;
    color: #131318;
    font-weight: 800;

}

.second-tour-text h2{
    font-size: 20px;
    color: #FF5400;
    font-weight: 800;

}

.second-tour-text p{
    width: 452px;
    color: #5A5A5D;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.deals-discounts-section .secondary-button{
    width: 210px;
}

/* deal and discounts section ends here */

/* Gallery section starts here */

.gallery-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.gallery-text{
    text-align: center;
}

.gallery-text h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: .5rem;
}

.gallery-text p{
    width: 480px;
    color: #5A5A5D;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    
}

.gallery-images{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .25rem;
    border-radius: 1rem;
}

.gallery-images img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.gallery-images img:hover{
    transform: scale(1.1);

}

.gallery-1{
    grid-column: 1/span 5;
    grid-row: 1/span 1; 
}

.gallery-2{
    grid-column: 6/span 7;
    grid-row: 1/span 1; 
}

.gallery-3{
    grid-column: 1/span 6;
    grid-row: 2/span 1; 
}

.gallery-4{
    grid-column: 7/span 6;
    grid-row: 2/span 1; 
}

.gallery-5{
    grid-column: 1/span 5;
    grid-row: 3/span 1; 
}

.gallery-6{
    grid-column: 6/span 7;
    grid-row: 3/span 1; 
}

.gallery-section .secondary-button{
    width: 150px;
}

/* Gallery section completed */

/* get lost section starts here */

.get-lost-section{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.get-lost-text{
    display: flex;
    flex-direction: column;
    width: 532px;
    gap: 1.4rem;
}

.get-lost-text h1{
    width: 448px;
    color: #131318;
    font-weight: 800;
}

.get-lost-text p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.get-lost-text .list>li{
    color: #131318;
    font-size: 16px;
    font-weight: 700;
}

.bullet-points-1{
    margin-bottom: .5rem;
}

.get-lost-text button{
    width: 150px;
}

iframe{
    aspect-ratio: 16 / 9;
    height: 325px;
    border-radius: .3rem;
}

/* get lost section ends here */

/* Newsletter section starts here */

.newsletter-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.newsletter-text-input{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsletter-text h1{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.newsletter-text p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 350px;
    margin-bottom: 24px;
}



hr{
    width: 100%;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 24px;
    border: none;
}

.newsletter-text-input input{
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 24px;
}

.newsletter-image img{
    width: 672px;
    height: 100%;

}


.save-up{
    color: #FFFFFF;
    background-color: #FF5400;
    width: 324px;
    padding: 2rem;
    /* height: 120px; */
    transform: rotate(-19.628deg);
    border-radius: 10px;
    position: absolute;
    top: 825%;
    left: 59.5%;
    text-align: center;
  
}

.save-up h3{
    font-size: 24px;
    font-weight: 400;
}

.save-up h1{
font-family: Mulish;
font-size: 32px;
font-weight: 800;
}

/* Newsletter section ended */

/* footer starts here */

.footer-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: rgba(19, 19, 24, 0.05);
    height: 502px;
    gap: 1.5rem;

}

.footer-text{
    width: 769px;
    text-align: center;
}

.footer-content p{
    color: #777777;
    font-size: 16px;
    font-weight: 400;

}

.social-icons{
    margin-bottom: 1.5rem;
}

.footer-horizontal{
    width: 872px;
    height: 1px;    
}

/* footer ends here */